* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

main {
    padding-bottom: 3rem;
}

html {
    font-size: 62.5%;
}

/* navbar hamburger */

.hamburger {
    position: fixed;
    width: 5rem;
    height: 5rem;
    right: .5rem;
    top: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.bar {
    width: 75%;
    height: 13%;
    background: black;
    position: relative;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

.bar,
.bar::before,
.bar::after {
    transition: all .3s ease-in-out;
}

.bar::before {
    transform: translateY(-0.9rem);
}

.bar::after {
    transform: translateY(0.9rem);
}

/* when hamburger is clicked */
.hamburger-click .bar {
    transform: translateX(-5rem);
    background: transparent;
}

/* when hamburger is clicked */
.hamburger-click .bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}

/* when hamburger is clicked */
.hamburger-click .bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* when hamburger is clicked */
.hamburger-click .bar::before,
.hamburger-click .bar::after {
    background: red;
}

/* navbar */

.navbar {
    background-color: #BCFD4C;
background-color:purple;
    height: 100vh;
    width: 0%;
    /*the width of the navbar is intially set to 0 */
    position: fixed;
    z-index: 100;
    transition: 350ms ease-in-out;
}

/* when hamburger is pressed */
.navbar-display {
    width: 50%;
    /*when the hamburger is clicked,it will expand to 50% of the screen*/
}

/*  */

.nav-item {
    width: 100%;
}

.nav-item a {
    text-decoration: none;
}

.nav-item i,
.nav-item span {
    color: black;
    font-weight: bold;
    transition: 300ms ease-in-out;
}


.nav-item i:hover,
.nav-item span:hover {
    transform: translateY(-.5rem);
    color: #ff8080;
}

.nav-item span {
    font-size: 2rem;
}



.navbar-nav {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    /*the navbar-nav is intially set to display nothing */
    flex-direction: column;
    justify-content: space-around;
}

/* for when hamburger is pressed */
.navbar-nav-display {
    display: flex;
}

/*  */

.nav-link {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link-2,
.nav-link-4 {
    padding-left: 1.5rem;
}


/*index.html  */


.heading {
    padding-top: 3rem;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.gallery a {
    width: 95%;
    max-width: 800px;
    margin-bottom: 3rem;
}

.gallery img {
    width: 100%;
    transition-duration: .5s;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

img.plus {
    position: absolute;
    width: 5rem;
    opacity: 0;
    transition-duration: .5s;
}

/* hovering over img-container will affect img and img.plus */
.img-container:hover img {
    opacity: 0.5;
}

.img-container:hover img.plus {
    opacity: 1;
    transform: scale(1.1);
}

.img-container:hover {
    background-color: #ff8080;
}


.full-gallery-link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    color: black;
    font-weight: bold;
    transition: transform 300ms ease-in-out;
}

.full-gallery-link::after {
    content: '  >>>';
    display: none;
    color: blue;
}

.full-gallery-link:hover {
    transform: translateY(-.25rem);
    color: blue;
}

.full-gallery-link:hover::after {
    display: block;
}

/* social media links */
.facebook-img img,
.instagram-img img {
    transition: 300ms ease-in-out;
}

.facebook-img img:hover,
.instagram-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.social-media-icons-container {
    display: flex;
    justify-content: center;
}

.social-media-icons {
    width: 50%;
    display: flex;
    justify-content: center;
}

.facebook-img,
.instagram-img {
    width: 20%;
    max-width: 50px;
}

.social-media img {
    width: 100%;
}

.facebook-img {
    margin-right: 3rem;
}

.social-media {
    margin-top: 4rem;
}

.social-media h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}


/* about.html */

.self-picture {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.self-picture img {
    width: 90%;
    max-width: 500px;
}


.quote-div {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.quote {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
}

.quote-author {
    text-align: center;
}

.line-divider {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.line-divider img {
    width: 10rem;
}

.quote-btn-container {
    text-align: center;
    margin-top: 2rem;
}

.quote-btn {
    font-size: 2rem;
    padding: 1.3rem;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-weight: bold;
    color: black;
}

.about-carol {
    padding: 2rem;
    font-size: 2rem;
}

.about-carol h1,
.about-carol h2 {
    text-align: center;
}

.about-carol span {
    display: block;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 1rem;
}


/* contact.html */
.contact-container {
    padding: 2rem;
}

.contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading h1,
.contact-heading h2,
.contact-heading h3,
.contact-heading h4 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.contact-info label {
    display: block;
}

.contact-info button {
    display: block;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 5rem;
    padding: .5rem 3rem;
    font-weight: bold;
    transition: 300ms;

}

.contact-info button:hover {
    background-color: aqua;
    transform: translateY(-.5rem);
}

.contact-info form label {
    font-size: 2.5rem;
}

#email {
    width: 90%;
    margin-bottom: 4rem;
    max-width: 500px;
    font-size: 2rem;
}

#message {
    width: 90%;
    max-width: 500px;
    margin-bottom: 4rem;
    font-size: 2rem;
}




@media screen and (min-width:900px) {


    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }


    /* navbar */
    .hamburger {
        display: none;
    }

    main {
        margin-left: 13rem;
    }

    .navbar {
        width: 13rem;
    }

    .nav-item {
        width: 13rem;
        margin-left: 3rem;
    }

    .nav-item span {
        padding-left: 2rem;
    }

    .navbar-nav {
        display: flex;
    }


    .navbar-nav span {
        visibility: hidden;
    }

    .navbar:hover {
        width: 25rem;
        cursor: pointer;
    }

    .navbar:hover span {
        visibility: visible;
    }

    /* index */

    .heading {
        margin-bottom: 3rem;
        font-size: 3rem;
    }



    /* about.html */
    .about-carol {
        font-size: 3rem;
    }

    .about-carol h1,
    .about-carol h2 {
        font-size: 4rem;
        font-style: italic;
    }

    .line-divider img {
        width: 20rem;
    }

    .quote-btn::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 5rem;
        z-index: -1;
        background-color: #00bfff;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
    }

    .quote-btn:hover::before {
        transform: scaleX(1);
    }

    .quote-btn:hover {
        color: white;
    }
    /* contact */

    #email {
        font-size: 2.5rem;
    }

    #message {
        font-size: 2.5rem;
        max-width: 1400px;
        height: 250px;
    }



    /* social media icons */

    .social-media h2 {
        font-size: 2.5rem;
        text-align: center;
    }


}
